<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>title</th>
      <th>titleG</th>
      <th>precio</th>
      <th>descripcion</th>
      <th>cantidad</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{titleG}}</td>
        <td>{{precio}}</td>
        <td>{{descripcion}}</td>
        <td>{{cantidad}}</td>
        <td>

          {{#if done}}  
          <a href="/tasks/{{_id}}/toggleDone">Undonet</a>
          {{else}}
          <a href="/tasks/{{_id}}/toggleDone">Listo</a>
          {{/if}}  
          <a href="/tasks/{{_id}}/delete">Eliminar</a>
          <a href="/tasks/{{_id}}/edit">Actualizar</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>